/* basic styles used through all forms of layout */
/* Paul Irish's border-box declaration */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
header,
footer,
aside,
section,
article {
    padding: 1em;
}
footer {
    text-align: center;
}
header,
footer {
    background-color: #006064;
    color: #fff;
}
aside,
section {
    background-color: #00838F;
    color: #fff;
}

article {
    background-color: #fff;
    color: #0097A7;
}
section aside {
    background-color: #00ACC1;
}
section aside a {
    color: white;
    text-decoration: none;
    background-color: #4DD0E1;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
    margin-top: 1em;
    display: inline-block;
}
section aside a:hover {
    text-decoration: underline;
}
aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
aside ul a {
    color: #F5D166;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
}
aside ul a:hover {
    color: #F2C335;
}
/* image hack to make images "responsive". Yes, not the best or the right way to do things, but it's quick! */
img {
    width: 100%;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}
