body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 2em;
}

.wrapper {
}

div {
    background-color: #7A93E0;
}

.a,
.b,
.h,
.i {
    background-color: #4DD0E1;
}
.c {
    background-color: #006064;
}
.d {
    background-color: #63B1B7;
}
.e {
    background-color: #00838F;
}
.f {
    background-color: #B2EBF2;
}
.g {
    background-color: #E0F7FA;
}

@media (min-width: 600px)  {
    .wrapper {
        margin: auto;
        width: 1200px;
        height: 600px;
    }
}

@media (min-width: 1200px)  {
    .wrapper {
        background: url(../grid.png) no-repeat;
    }

    .a {
    }

    .b {
    }

    .c {
    }

    .d {
    }

    .e {
    }

    .f {
    }

    .g {
    }

    .h {
    }

    .i {
    }
}
