body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 2em;
}

.wrapper {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7A93E0;
}

.a {
    background-color: #7A93E0;
}
.b {
    background-color: #7A93E0;
}
.c {
    background-color: #B39BD5;
}
.d {
    background-color: #9398D5;
}
.e {
    background-color: #6B97D3;
}
.f {
    background-color: #A38BC7;
}
.g {
    background-color: #8290D1;
}
.h {
    background-color: #7A93E0;
}

@media (min-width: 600px)  {
    .wrapper {
        margin: auto;
        width: 600px;
        height: 600px;
        grid-template-columns: 0.5fr 0.5fr; /* 300px 300px */
        grid-template-rows: 0.35fr 0.15fr; /* 210px 90px */
    }
}

@media (min-width: 1000px)  {
    .wrapper {
        grid-template-columns: 0.15fr 0.60fr 0.25fr; /* 90px 360px 150px */
        grid-template-rows: 0.35fr 0.35fr 0.15fr 0.15fr; /* 210px 210px 90px 90px */
    }

    .a {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .b {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .e {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .f {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .g {
        grid-column: 2/3;
        grid-row: 3/5;
    }

    .h {
        grid-column: 3/4;
        grid-row: 3/5;
    }
}