body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 2em;
}

.wrapper {
	grid-gap: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
			"🔥"
			"🍔"
			"🎄"
			"👍"
			"🌺"
			"😂"
			"🐳"
			"🐝"; /* Set named grid area on grid template */
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7A93E0;
}

.a {
	background-color: #7A93E0;
	grid-area: 🔥;  /* Add grid area name */
}
.b {
	background-color: #7A93E0;
	grid-area: 🍔;
}
.c {
	background-color: #B39BD5;
	grid-area: 🎄;
}
.d {
	background-color: #9398D5;
	grid-area: 👍;
}
.e {
	background-color: #6B97D3;
	grid-area: 🌺;
}
.f {
	background-color: #A38BC7;
	grid-area: 😂;
}
.g {
	background-color: #8290D1;
	grid-area: 🐳;
}
.h {
	background-color: #7A93E0;
	grid-area: 🐝;
}

@media (min-width: 600px)  {
	.wrapper {
		margin: auto;
		width: 600px;
		height: 600px;
		grid-template-columns: 0.5fr 0.5fr; /* 300px 300px */
		grid-template-rows: 0.35fr 0.15fr; /* 210px 90px */
		grid-template-areas:
				"🐳 🐝"
				"😂 ."
				"👍 🌺"
				"🎄 ."
				"🔥 🍔"; /* Set named grid area on grid template */
	}
}

@media (min-width: 1000px)  {
	.wrapper {
		grid-template-columns: 0.15fr 0.60fr 0.25fr; /* 90px 360px 150px */
		grid-template-rows: 0.35fr 0.35fr 0.15fr 0.15fr; /* 210px 210px 90px 90px */
		grid-template-areas:
				"🔥 🍔 🎄"
				"🔥 🍔 👍"
				"🌺 🐳 🐝"
				"😂 🐳 🐝"; /* Set named grid area on grid template */
	}
}