body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 2em;
}

.wrapper {
	grid-gap: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas:
			"a"
			"b"
			"c"
			"d"
			"e"
			"f"
			"g"
			"h"; /* Set named grid area on grid template */
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7A93E0;
}

.a {
	background-color: #7A93E0;
	grid-area: a;  /* Add grid area name */
}
.b {
	background-color: #7A93E0;
	grid-area: b;
}
.c {
	background-color: #B39BD5;
	grid-area: c;
}
.d {
	background-color: #9398D5;
	grid-area: d;
}
.e {
	background-color: #6B97D3;
	grid-area: e;
}
.f {
	background-color: #A38BC7;
	grid-area: f;
}
.g {
	background-color: #8290D1;
	grid-area: g;
}
.h {
	background-color: #7A93E0;
	grid-area: h;
}

@media (min-width: 600px)  {
	.wrapper {
		margin: auto;
		width: 600px;
		height: 600px;
		grid-template-columns: 0.5fr 0.5fr; /* 300px 300px */
		grid-template-rows: 0.35fr 0.15fr; /* 210px 90px */
		grid-template-areas:
				"g h"
				"f ."
				"d e"
				"c ."
				"a b"; /* Set named grid area on grid template */
	}
}

@media (min-width: 1000px)  {
	.wrapper {
		grid-template-columns: 0.15fr 0.60fr 0.25fr; /* 90px 360px 150px */
		grid-template-rows: 0.35fr 0.35fr 0.15fr 0.15fr; /* 210px 210px 90px 90px */
		grid-template-areas:
				"a b c"
				"a b d"
				"e g h"
				"f g h"; /* Set named grid area on grid template */
	}

/*	This is now replaced by the grid template areas
	.a {
		grid-column: 1/2;
		grid-row: 1/3;
	}

	.b {
		grid-column: 2/3;
		grid-row: 1/3;
	}

	.e {
		grid-column: 1/2;
		grid-row: 3/4;
	}

	.f {
		grid-column: 1/2;
		grid-row: 4/5;
	}

	.g {
		grid-column: 2/3;
		grid-row: 3/5;
	}

	.h {
		grid-column: 3/4;
		grid-row: 3/5;
	}
*/

}