body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 2em;
}

.wrapper {
}

div {
    background-color: #7A93E0;
}

.a,
.b,
.h {
    background-color: #7A93E0;
}
.c {
    background-color: #B39BD5;
}
.d {
    background-color: #9398D5;
}
.e {
    background-color: #6B97D3;
}
.f {
    background-color: #A38BC7;
}
.g {
    background-color: #8290D1;
}

@media (min-width: 600px)  {
    .wrapper {
        margin: auto;
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 1000px)  {
    .wrapper {
        background: url(../grid.png) no-repeat;
    }

    .a {
    }

    .b {
    }

    .c {
    }

    .d {
    }

    .e {
    }

    .f {
    }

    .g {
    }

    .h {
    }
}