@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

body {
	background-color: $bg;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

// .header-logo, nav, .col, aside {
// 	border: $border;
// }

header, main, aside, footer {
	padding: $space;
}

ul {
	list-style: none;

	li {
		display: inline;
		padding-right: $space * 2;
	}
}

header {

	.header-logo {
		margin-right: $space;
	}

	nav {
		text-transform: uppercase;
	}

}


main {
	.col {
		background-color: darken($bg, 3%);
	}

	aside {
		margin-left: $space;
		background-color: darken($bg, 3%);

		.widget {
			background-color: lighten($bg, 3%);
			margin-bottom: $space;
			padding: 0 $space;
		}
	}

}


footer {
	margin: auto 0 0;
	background-color: darken($bg, 3%);
}

.col {
	margin-right: $space;
	padding: $space;

	&:last-child {
		margin: 0px;
	}
}